section {
    max-width: 1200px;
    margin: auto;
}

.projet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 50px; 
    padding: 100px;
    padding-bottom: 170px;
}

h2 {
    font-size: 2.3em;
    font-weight: 600;
    padding-bottom: 50px;
    border-bottom: solid #bdaca3;
}

.site {
    border: solid #76665d;
    border-radius: 15px;
    background-color: #f7f1ee;
    box-shadow:6px 6px 20px rgba(118, 102, 93, 0.9);
}

img:hover{
    opacity: 0.7;
}

img {
    border-radius: 15px 15px 0 0;
}

p {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    padding-bottom: 40px;
}

.back a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 996px) {
    .projet{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    img{
        width: 100%;
    }

    .back {
        padding-left: 20px;
        padding-right: 20px;
    }
}
