*{
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style : normal;
  background-color: white;
}

a{
  text-decoration: none;
}

footer, nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav {
  margin : 0px 30px;
}

nav div a {
    padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

header, 
footer {
    background-color: #bdaca3;
    padding: 17px 50px ;
    color: white;
}

footer a  {
  color: white;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

main h1 {
  font-size: 4em;
  color: #76665d;
  margin-bottom: 50px;
}

h2 {
  font-weight: 700;
  color: #76665d;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #bdaca3;
  margin-bottom: 15px ;
}

p {
  font-size: 1.2em;
}

section {
  padding: 90px 100px;
}

.cta {
  background: linear-gradient(346deg,#bdaca3, #76665d);
  color: white;
  border: solid #76665d;
  border-radius: 40px;
  padding: 20px 60px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}

.cta:hover {
  background: linear-gradient(346deg,#64564f,#b4a197 );
  text-decoration: none;
}

.home:hover {
  text-decoration: none;
  opacity: 85%;
}

em {
  font-style: normal;
  color: #76665d;
  font-weight: 600;
}


button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
  }

  nav h1 {
    font-size: 2em;
    padding-bottom: 30px;
    font-weight: 800;
  }

  header, footer {
  padding: 20px ;
  }

  nav div a {
    font-weight: 500;
    font-size: 1.8em;
    padding-bottom: 15px;
  }

  footer a {
    display: flex;
    font-size: 1.5em;

  }

  .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      text-align: center;
     }

  section{
    padding-right: 40px;
    padding-left: 40px;
  }
}